

.store-container{
    width:96rem;
    margin:0 auto;
    height:15.2rem;
    position: relative;
}

.store-details{
    position: absolute;
    width:100%;
    top:0;
    padding:2.4rem;
}

.store-container > img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.max-time{
    background-color: #f15700;
    border-radius: 0.6rem;
    width:4rem;
    height:4rem;
    text-align: center;
    position: relative;
    
}
.max-time > span{
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: rgb(255, 255, 255);
}
.max-time{
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.33px;
    color: rgb(255, 255, 255);
    
}

.title{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.35px;
    color: rgba(255, 255, 255, 0.92);
    overflow: hidden;
}

.address-line{
    color:#ccc;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
}

.left-details{
    display: flex;
    gap:1rem;
    align-items: center;
}

.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar{
    width:100%;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 1.2rem;
    position: relative;
}

.search-bar > a {
    width:100%;
    padding:1.4rem 2rem;
    
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    
    color: rgba(2, 6, 12, 0.45);
}
.search-bar > i{
    font-size:  1.6rem;
    position: absolute;
    right:1%;
    top:50%;
    transform: translateY(-50%);
}
.title-wrapper{
    display: flex;
    margin-bottom: 1.4rem;
    align-items: center;
}
.catg-title{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.5px;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
    width:fit-content;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: uppercase;
}

.product-container{
    padding:2rem;
}
.line{
    height: 1px;
    background: linear-gradient(to right, rgba(2, 6, 12, .15), rgba(2, 6, 12, .15));
    flex:1;
    margin-left: 12px;
    align-self: center;
}

.product-card{
    width:12rem;
}

.active{
    width:0.4rem;
    height:4rem;
    background-color: rgb(158, 30, 98);;
    position: absolute;
    border-radius: 1.2rem;
    top:50%;
    transform: translateY(-50%);
}
.wrapper-list{
    position: relative;
}
.product-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1.4rem;
}

.product-card > img{
    width:100%;
    padding-bottom: 0.6rem;
}
.product-item-name{
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.33px;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.bg-grey{
    background-color: #f1f1f5;
    min-height:100vh;
    padding-top: 0.6rem;
    display: flex;
    justify-content: space-between;
    column-gap: 1.2rem;
}

.left-container-item{
    background-color:#fff;
    width:24rem;
    height:100vh;
    
    overflow-y: scroll !important;
    border-radius: 0 1.2rem 0 0;
    position: relative; 
    z-index:1; 
}


.right-container-item{
    background-color:#fff;
    height:100vh;
    flex:1;
    border-radius:1.2rem 0 0 0;
    border-right: 0.1rem solid #f1f1f5;
    overflow-y: scroll;
}
.menu-card{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1.4rem;
}
.menu-card-item {
    width:6rem;
}
.img-container{
    position: relative;
    z-index:2;
    
}
.bg-highlight{
    background-color: rgb(158, 30, 98);
    border-radius: 0.6rem;
    width:4rem;
    height:4rem;
    position: absolute;
    z-index:-1;
    transition: all 2ms linear ease-in;
    
}

.img-container > img{
    width:90%;
    
}
.menu-card-item > h2{
    
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.total-item{
    
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    padding: 16px 12px 14px;
    border-bottom: 0.1rem solid #f1f1f5;
}

.category-item-card{
    width:50%;
    border-right: 0.1rem solid #f1f1f5;
    border-bottom: 0.1rem solid #f1f1f5;
    
}

.item-img{
    width:100%;
    height:14rem;
}

.item-img > img {
    width:100%;
    height:100%;
    object-fit: contain;
}
.category-content{
    padding:0.8rem;
}
.brand-name{
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    width: 100%;
}

.brand-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: calc(36px);
}

.quantity{
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}

.price-details{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}

.price-option-container{
    padding:2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cayegory-item-container{
    display: flex;
    flex-wrap: wrap;
}

.orginal-price{
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    text-decoration: line-through;
    letter-spacing: -0.26px;
    color: rgba(2, 6, 12, 0.6);
}
.btn-action-wrapper{
    position: absolute;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-transform: uppercase;
    color: #1ba672;
    background: #fff;
    border: 1px solid #d3d3d3;
    border-radius: .8rem;
    justify-content: space-evenly !important;
    align-items: center;
    width: 80%;
    padding: .8rem 0;
    font-size: 1.8rem;
    font-weight: bolder;
    
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
    
}
.btn-action-wrapper > button{
    
    background-color: #fff;
    border:none;
}
.btn-action-wrapper > small{
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgb(27, 166, 114);
}
.btn-action-wrapper > button > i{
    font-size: 1.8rem;
    color: rgb(27, 166, 114);
}
.add-action-item,.btn-action-wrapper{
    
    background: #fff;
    
    border: 1px solid #d3d3d3;
    cursor: pointer;
	padding:0.8rem 0.5rem;
    display: flex;
    gap:0.2rem;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
	color: rgb(27, 166, 114);
	font-weight: bolder;
	font-size: 1.2rem;
	width:11rem;
    white-space: no-wrap;
	border-radius: 0.8rem;
}



.varaiation-showcase{
    background-color: #ffffff;
    width:100%;
    height:40vh;
    position: fixed;
    z-index:6;
    bottom:0;
    border-radius: 4rem 4rem 0 0;
    padding: 2rem;
}

.vari-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    border-radius: 2rem 2rem 0 0 ;
    
}


.var-img {
    width:8rem;
    
    
}
.var-img > img {
    width:100%;
    
}

.price-sec{
    display: flex;
    align-items: center;
    gap:1.2rem;
    
}

.each-gram-price > p{
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: rgb(241, 87, 0);
}
.offer-tag{
    background-image: url('https://instamart-media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_64,h_108/instamart-assets/offer_tag.png');
    background-size: contain;
    width:3.2rem;
    height:4rem;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-tag > small{
    font-weight: 600;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: -0.4px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.varaiation-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    border:0.1rem solid #f1f1f1;
    padding:0.8rem;
    border-radius: 1.8rem;
    overflow: hidden;
    position: relative;
    
}

.overlay{
    width:100%;
    position: fixed;
    height:100vh;
    background-color:rgba(0,0,0,0.6);
    z-index:4;
}

.product-name-container{
    background-color: #fff;
    padding:2rem;
    display: flex;
    gap:2rem;
    align-items: center;
     border-radius: 0.8rem;
}

.selected-product-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
   
}

.grey-col{
    background-color: #f1f1f1;
    padding: 0 1.2rem 1.2rem 1.2rem;
    min-height: 100vh;
}

.item-container{
    width:100%;
    padding:1.8rem;
    background-color: #fff;
    border-radius: 1.6rem;
    margin-top: 1.2rem;
}

.item-img-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
}

.--own{
    width:3.6rem;
    height:4.6rem;
    border-radius: 1.4rem 0 0 0 ;
}
.--own > small{
    font-weight: bolder;
}

.item-brand-name{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}
.name{
    padding-top: 1.6rem;
}
.item-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}

.item-quantity{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
    padding-top: 2rem;
}
.item-long-description{
    border-radius: 1.6rem;
    background-color: #fff;
    padding:2rem;
    margin-top: 1.2rem;
}
.item-long-description > h1{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}

.item-long-description > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    padding-top: 1.4rem;
}

.opacity{
    opacity:0.3;
}

.meta{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.left{
    width:60%;
}.right{
    width:30%;
}
.right > img{
    width:100%;
}
.left > h1{
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: rgba(2, 6, 12, 0.92);
}

.swiggy-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40vh;
}